/*SLIDER PARA CONTENIDO 1: Imagen y Texto*/

.slider{
    min-height: 100vh;
   padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 1em;
}
.slider__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: .5em;
    padding-top: 1em;
    padding-bottom: 2.5em;
}

.slider__body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: all 500ms ease;
    border-radius: 25px;
    padding: 1em 1em;
    background-color: #FFF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
.slider_textos{
    text-align: center;
}
.slider p{
    font-size: 1.2em;
    padding-bottom: 0.25em;
}
.slider a{
    text-decoration: none;
    border-radius: 15px;
    border: #880645 2px solid;
    color: #880645;
    background-color: #FFF;
    padding: 0.25em 1em;
    font-weight: bold;
    letter-spacing: 1px;
}
.slider a:hover{
    color: #FFF;
    background-color: #880645;
}

.slider__body--show{
    opacity: 1;
    pointer-events: unset;
}
.title{
    font-size: 2rem;
    margin-bottom: 20px;
    color: #321575;
    text-align: center;
}
#principal{
    color: #880645;
    border-radius: 25px;
    text-align: center;
}
.slider__texts{
    padding: 1em 1.5em;
    text-align: justify;
}
.slider__text{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
}
.slider__picture{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.slider__arrow{
    cursor: pointer;
    width: 90%;
}

.slider__arrow:nth-child(2){
    justify-self: end;
}

@media (max-width: 1200px){
    .slider__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        padding: .25em .25em;
    }
    .slider__picture{
        grid-row: 2/2;
    }
    .slider__img{
        width: 80%;
        height: 420px;
    }
}

@media (max-width: 600px){
    .slider__img{
        height: 250px;
        width: 250px;
    }
    .slider__text{
        font-size: 18px;
        line-height: 1.5;
    }
    .slider_textos p{
        margin-left: 2em;
        margin-right: 2em;
    }
}

/* SLIDER PARA IMAGENES Y TEXTO DESCRIPTIVO, AUTOMATICO INFINITO */
.aslider{
    height: 100vh;
    padding-top: 70px;
    width: 80%;
    background-color: #321575;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #FFF;
    margin-bottom: 6em;
}
.aslider h1,h3{
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}
.aslider a{
 text-decoration: none;
 padding: 0.5em 0.5em;
 border-radius: 15px;
 margin-left: 1em;
 color: #880645;
 background-color: #FFF;
 border: #880645 2px solid;
 font-weight: bold;
 letter-spacing: 1px;
 font-size: 1.2em;
}
.aslider a:hover{
    color: #FFF;
 background-color: #880645;
}
.aslider__img{
    margin-top: 1em;
    background-image: url(../img/diseno/banner1.jpg);
    background-size: cover;
    background-position: center;
    height: 60%;
    width: 90%;
    border-radius: 25px 25px  0px 0px;
    animation: animate 15s linear infinite;
}

@keyframes animate{
    20%{
        background-image: url(../img/diseno/banner1.jpg);
    }
    40%{
        background-image: url(../img/diseno/banner2.png);
    }
    60%{
        background-image: url(../img/diseno/banner3.jfif);
    }
    80%{
        background-image: url(../img/diseno/banner4.png);
    }
    100%{
        background-image: url(../img/diseno/miawxtore.png);
    }
}

.aslider__text{
    width: 90%;
    background-color: #321575;
    border-radius: 0px 0px 25px 25px;
    padding: 1em 1em;
    text-align: center;
    color: #FFF;

}
.aslider__text:after{
    content: "BANNERS";
    animation: animate_text 15s linear infinite;
}

@keyframes animate_text{
    20%{
        content: "Imagen para anuncio publicitario en redes sociales.";
    }
    40%{
        content: "Portada de Facebook para el proyecto Aprende con Leo el leoncito.";
    }
    60%{
        content: "Portada para página de facebook.";
    }
    80%{
        content: "Portada de canal de Youtube de equipo de robótica.";
    }
    100%{
        content: "Portada de Facebook para tienda digital.";
    }
}

@media screen and (max-width:1200px){
    .aslider{
        width: 100%;
    }
    .aslider__img{
        height: 300px;
    }
}
@media screen and (max-width:600px){
    
    .aslider__img{
        height: 250px;
    }
}