@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.menu{
    background-color: #1c084d;
    color: #FFF;
    height: 70px;
    position: sticky;
    top: 0;
    position: relative;
    z-index: 1;
    border-bottom: 5px dotted #FFF;
}

.menu_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu_links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu_item{
    list-style:none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform:rotate(-90deg);
}

.menu_item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform:rotate(0);
}

.menu_link{
    color: #FFF;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu_link:hover{
    background-color: #321575;
}

.menu_arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu_nesting{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color:#260d61;
}

.menu_link--inside{
    padding: 30px 100px 30px 20px;
}

.menu_link--inside:hover{
    background-color: #321575;
}

.menu_hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display:none;
}
.menu_img{
    display: block;
    width: 36px;
}
h1{
    letter-spacing: 5px;
}

@media (max-width:800px){
    .menu_hamburguer{
        display: flex;
    }
    
    .menu_item{
        --clip:0;
        overflow: hidden;
    }

    .menu_item--active{
        --transform: rotate(0);
        --background: #321575;
    }

    .menu_item--show{
        background-color: var(--background);
    }

    .menu_links{
        position: fixed;
        max-width: 95%;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #321575;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }
    .menu_links--show{
        transform: unset;
        width: 100%;
    }
    
    .menu_link{
        padding: 25px 0px;
        padding-left: 30px;
        height: auto;
    }
    .menu_arrow{
        margin-left: auto;
        margin-right: 20px;
    }
    .menu_nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }
    .menu_link--inside{
        width: 80%;
        margin-left: auto;
        border-left: 4px dotted #FFF;
    }
}